.evolutionBox{
    text-align: center;
    transition: 200ms;
    background-color: gray;
    width: 80%;
    margin: auto;
}
.evolutionBox img{
    cursor: pointer;
    
    
}
.under{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.container{
    width: 100%;
}